{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'JourneyMap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'JourneyMap/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'JourneyMap/flag.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

        <link rel="shortcut icon" type="image/png" href="{% static 'JourneyMap/img/favicon.png' %}"/>

    {% if title %}
        <title>Journey Map - {{ title }}</title>
    {% else %}
        <title>Journey Map</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'JourneyMap_home' %}">Journey Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'JourneyMap_home' %}">{% trans "Home" %} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'JourneyMap_contact_us' %}">{% trans "Contact Us" %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown05" data-hover="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">{% trans "My Journey" %}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="#">{% trans "Berlin-Rom" %}</a>
                        <a class="dropdown-item" href="#">{% trans "Rom-Paris" %}</a>
                        <a class="dropdown-item" href="#">{% trans "Berlin-Spain" %}</a>
                    </div>
                </li>
            </ul>

            <!-- Navbar Language selector -->
            {% get_current_language as LANGUAGE_CODE %}
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input type="hidden" name="next" value="{{ redirect_to }}">
                <select class="form-control selectpicker" name="language" id="" onchange="this.form.submit()">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        <option data-content="<i class='{% if language.code == 'en' %} uk {% else %} {{ language.code }} {% endif %} flag'></i> <small class='text-muted'>{{ language.name_local|make_list|slice:'0:3'|join:'' }}</small>"
                                value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                selected {% endif %}>
                            {{ language.name_local }} <!-- How do I add an icon here ? GL MARCEL-->
                        </option>
                    {% endfor %}
                </select>
            </form>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'login' %}">{% trans "Sign In" %}</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">{% trans "Sign Up" %}</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% block content %} {% endblock content %}
</main>
<footer>
    <hr>
    <!-- Navbar Language selector -->
    {% get_current_language as LANGUAGE_CODE %}
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <select class="form-control selectpicker" name="language" id="" onchange="this.form.submit()">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <option data-content="<i class='{% if language.code == 'en' %} uk {% else %} {{ language.code }} {% endif %} flag'></i> <small class='text-muted'>{{ language.name_local|make_list|slice:'0:3'|join:'' }}</small>"
                        value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                        selected {% endif %}>
                    {{ language.name_local }} <!-- How do I add an icon here ? GL MARCEL-->
                </option>
            {% endfor %}
        </select>
    </form>
    <p>&copy My Journey 2020-2020</p>
    <div class="">
        <a href="">{% trans "Privacy Policy" %}</a>
        <a href="">{% trans "Legal Disclosures" %}</a>
        <a href="https://matias.ma/nsfw/">{% trans "." %}</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('select.selectpicker').selectpicker();
        $('select.selectpicker-mobile').selectpicker();
    });
</script>
</body>
</html>
