{% extends "JourneyMap/base.html"%}
{% load static %}
{% load i18n %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'JourneyMap/home.css' %}">
    </head>
    <body>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
             style="background-image: linear-gradient(to right, #f8f9fa80, #f8f9fa80), url('{% static 'JourneyMap/img/home-background.png' %}')">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Journey Map</h1>
                <p class="lead font-weight-normal">{% trans 'Description' %}</p>
                <a class="btn btn-outline-secondary" href="">{% trans 'Start your journey' %}</a>
            </div>
        </div>
        <!-- <div class="triangle"></div>-->
        <h3>{% trans 'FEATURES'  %}</h3>
        <div class="features">
            <div class="feature">
                <img src="{% static 'JourneyMap/img/journey.png' %}" srcset="" alt="">
                <p><strong>{% trans "Create Journeys" %}</strong>{% trans "Create journeys and upload images."  %}</p>
            </div>
            <div class="feature">
                <img src="{% static 'JourneyMap/img/map.png' %}" srcset="" alt="">
                <p><strong>{% trans 'Relive your Journeys' %}</strong>{% trans 'Relive your journeys on an interactive world map.' %}</p>
            </div>
            <div class="feature">
                <img src="{% static 'JourneyMap/img/share.png' %}" srcset="" alt="">
                <p><strong>{% trans 'Share Journeys' %}</strong>{% trans 'Share your journeys with other people.' %}</p>
            </div>
        </div>
        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <!-- Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
    </body>
</html>
{% endblock content %}
