{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'JourneyMap/journeys.css' %}">
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for journey in journeys %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="" style="height: 225px; width: 100%; display: block;" src="https://via.placeholder.com/348x225.png" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text"><strong>{{journey.title}}</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href=""><button type="button" class="btn btn-sm btn-outline-secondary btn-left">View</button></a>
                                <a href=""><button type="button" class="btn btn-sm btn-outline-secondary btn-middle">Edit</button></a>
                                <a href=""><button type="button" class="btn btn-sm btn-outline-secondary btn-right">Delete</button></a>
                            </div>
                            <small class="text-muted">9 min</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
