{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <a class="button" href="{% url 'JourneyMap_journeys_new' %}">{% trans 'New Journey' %}</a>
    {% for journey in journeys %}
        <div class="media content-section">
            <div class="media-body">
                <div class="article-title">
                    <h1>{{ journey.title }}</h1>
                </div>
                <div class="article-metadata">
                    <h1>{{ journey.user }}</h1>
                    <p class="datetime">{{ journey.date_posted|date:"F d, Y" }}</p>
                </div>
                {% for image in images %}
                    <div class="article-img">
                        <img src="{{ image.image.url }}" height="100" width="">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}