{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<link rel="stylesheet" href="{% static 'JourneyMap/journeys.css' %}">
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for journey in journeys %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {% with imagelist=images|dictvalue:journey.id %}
                        {% if imagelist %}
                        <div class="carousel">
                            {% for image in imagelist %}
                            <img class="card-img-top" data-src="" style="height: 225px; width: 100%;" src="/cdp/{{image.id}}" data-holder-rendered="true">
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="empty-journey">
                            <p>{% trans 'Empty' %}</p>
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="card-body">
                        <p class="card-text"><strong>{{journey.title}}</strong></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'JourneyMap_map' jid=journey.id %}"><button type="button" class="btn btn-sm btn-outline-secondary btn-left">View</button></a>
                                <a href="{% url 'JourneyMap_journey' jid=journey.id %}"><button type="button" class="btn btn-sm btn-outline-secondary btn-middle">Edit</button></a>
                                <button name="{{journey.id}}" type="button" class="delete btn btn-sm btn-outline-secondary btn-right">Delete</button>
                            </div>
                            <small class="text-muted">9 min</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <div class="plus-card card mb-4 box-shadow"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-bg add-journey">
    <div class="modal-container">
        <form id="add-journey" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans 'Add Journey' %}</legend>
                {{ form }}
            </fieldset>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary btn-left" type="submit">{% trans 'Save' %}</button>
                <button id="close-add" class="btn btn-sm btn-outline-secondary btn-right" type="button">{% trans 'Cancel' %}</button>
            </div>
        </form>
    </div>
</div>

<div class="modal-bg delete-journey">
    <div class="modal-container">
        <form id="delete-journey" method="POST" action="{% url 'JourneyMap_journeys_delete' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans 'Delete Journey' %}</legend>
                <input type="hidden" name="id">
                <p>{% trans 'Are you sure that you want to delete this journey?' %}</p>
            </fieldset>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-secondary btn-left" type="submit">{% trans 'Confirm' %}</button>
                <button id="close-delete" class="btn btn-sm btn-outline-secondary btn-right" type="button">{% trans 'Cancel' %}</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    document.getElementsByClassName('plus-card')[0].addEventListener('click', function() {
        document.querySelector('.add-journey').style.display = 'flex';
        document.body.classList.add('no-scroll');
    });

    document.getElementById('close-add').addEventListener('click', function() {
        document.querySelector('.add-journey').style.display = 'none';
        document.body.classList.remove('no-scroll');
        document.getElementById('add-journey').reset();
    });

    deleteButtons = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', function() {
            form = document.getElementById('delete-journey');
            form.querySelector('input[name="id"]').value = this.name;

            document.querySelector('.delete-journey').style.display = 'flex';
            document.body.classList.add('no-scroll');
        });
    }

    document.getElementById('close-delete').addEventListener('click', function() {
        document.querySelector('.delete-journey').style.display = 'none';
        document.body.classList.remove('no-scroll');
        document.getElementById('delete-journey').reset();
    });

    slideShows = document.getElementsByClassName('carousel');

    slideShowImages = {};
    for (var i = 0; i < slideShows.length; i++)
        slideShowImages[i] = slideShows[i].getElementsByClassName('card-img-top');

    const nextImageDelay = 5000;
    imageCounters = new Array(slideShows.length).fill(0);

    for (var i = 0; i < slideShows.length; i++) {
        slideShowImages[i].item(imageCounters[i]).style.display = 'block';
    }

    setInterval(nextImage, nextImageDelay);

    function nextImage() {
        for (var i = 0; i < slideShows.length; i++) {
            slideShowImages[i].item(imageCounters[i]).style.display = 'none';
            imageCounters[i] = (imageCounters[i] + 1) % slideShowImages[i].length;
            slideShowImages[i].item(imageCounters[i]).style.display = 'block';
        }
    }

</script>
{% endblock content %}
