{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'JourneyMap/journey.css' %}">
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" style="height: 225px; width: 100%;" src="/cdp/{{image.id}}" data-holder-rendered="true">
                    <div class="exif-data m-5 content-section">
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Date' %}</strong></p>
                            <p class="column-2">{{ image.date_taken }}</p>
                        </div>
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Latitude' %}</strong></p>
                            <p class="column-2">{{ image.latitude }}</p>
                        </div>
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Longitude' %}</strong></p>
                            <p class="column-2">{{ image.longitude }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-4">
                <div id="add-images" class="plus-card card mb-4 box-shadow"></div>
            </div>
            <input  id="file-input" type="file" name="image" multiple style="display: none;"
                    data-url="{% url 'JourneyMap_journey' jid=journey %}"
                    data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        </div>
    </div>
</div>

<script src="{% static 'JourneyMap/jquery.ui.widget.js' %}"></script>
<script src="{% static 'JourneyMap/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'JourneyMap/jquery.fileupload.js' %}"></script>

<script>
    $(function() {
        var add_image_button = document.getElementById('add-images');

        add_image_button.addEventListener('click', function() {
            $('#file-input').click();
        });

        $('#file-input').fileupload({
            done: function(e, data) {
                console.log("done");
            }
        });
    });
</script>
{% endblock content %}
