{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'JourneyMap/journey.css' %}">
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for image in images %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="" style="height: 225px; width: 100%;" src="/cdp/{{image.id}}" data-holder-rendered="true">
                    <div class="exif-data m-5 content-section">
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Date' %}</strong></p>
                            <p class="column-2">{{ image.date_taken }}</p>
                        </div>
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Latitude' %}</strong></p>
                            <p class="column-2">{{ image.latitude }}</p>
                        </div>
                        <div class="row">
                            <p class="column-1"><strong>{% trans 'Longitude' %}</strong></p>
                            <p class="column-2">{{ image.longitude }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <form id="add-journey" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{% trans 'Add Image' %}</legend>
                    {{ form.as_p }}
                </fieldset>
                <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary btn-left" type="submit">{% trans 'Save' %}</button>
                    <button id="close-add" class="btn btn-sm btn-outline-secondary btn-right" type="button">{% trans 'Cancel' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
