{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <body>
        <div class="container ">
            <h1>Privacy Policy for Journey Map</h1>

            <p>Journey-map.eu website administration is obliged to maintain your privacy on the Internet. We pay great
                attention to securing the data you provided to us. Our privacy policy is based on the
                <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">General Data Regulation (GDPR) of
                    the European Union.</a>
                The purposes, for which we collect your personal
                data are: improvement of our service, communication with visitors to this site, presenting the
                information requested by the user, providing services associated with the website’s specialization
                and for other actions listed below.</p>

            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to
                <a href="{% url 'JourneyMap_contact_us' %}">contact us.</a></p>

            <h2>Personal data storage and processing</h2>

            <p>We collect and process your personal data only with your willing consent. With your permission, we can
                collect and process the following data: name and surname, e-mail address, personal photos, . Collection
                and processing of your personal information is carried out in accordance with the laws of the European
                Union and the Germany.</p>

            <h2>Data storage, alteration, and removal</h2>

            <p>The user, who has provided journey-map.eu with their personal data, has the right for their alteration
                and removal, as well as the right to recall the agreement to data processing. Time, during which your
                personal data will be stored is: time the personal data is used that is necessary for the website’s main
                activity. After finishing with the processing of your personal data, the website’s administration will
                permanently delete it. To access your personal data, you can contact the administration
                <a href="{% url 'JourneyMap_contact_us' %}">here.</a>
                We will be able to pass your data to a third party only with your willing consent. If
                the data was transferred to a third party, which is not associated with our organization, we cannot
                perform any changes to that data.</p>

            <h2>Processing of visiting technical data</h2>
            <p>Records of your IP address, time of visit, browser settings, operational system and other technical
                information is saved in the database when you visit journey-map.eu. This data is necessary for the
                correct display of the website’s content. It is impossible to identify the person of the visitor using
                this data.</p>

            <h2>Children’s personal information</h2>
            <p>If you are a parent or a legal guardian of an underage child, and you know that the child has provided us
                with their personal information without your consent, please contact us
                <a href="{% url 'JourneyMap_contact_us' %}">here.</a>
                It is forbidden to enter personal data of underage users without the agreement of parents or lawful
                guardians.</p>

            <h2>Cookies processing</h2>
            <p>We use cookie files for the correct display of the website’s content and for the convenience of browsing
                journey-map.eu. They are small files, that are stored on your device. They help the website to remember
                information about you, such as in which language you use the website and which pages have you already
                opened. This information will be useful in the next visit. Thanks to cookie files, the website’s
                browsing becomes much more convenient. You can learn more about these files
                <a href="https://www.cookieconsent.com/what-are-cookies/">here.</a>
                You can set up cookies reception and blocking in your browser yourself. Inability to receive cookie
                files may limit the functionality of the website.</p>

            <h2>Links to other websites</h2>
            <p>Our website journey-map.eu may contain links to other websites, which are not under our control. We are
                not responsible for the content of these websites. We recommend you familiarize yourself with the
                privacy policy of every website that you visit, if such policy exists.</p>

            <h2>Changes to the privacy policy</h2>
            <p>From time to time, our website journey-map.eu may update our privacy policy. We inform about any changes
                to the privacy policy, placed on this webpage. We are monitoring any changes in legislation, which is
                related to personal data in European Union and Germany. If you have entered any of your personal data on
                our website, we will inform you about the changes in our privacy policy. If your personal data, and more
                specifically, your contact information was entered incorrectly, we will not be able to contact you.</p>

            <h2>Feedback and final clauses</h2>
            <p>You can contact the administration of journey-map.eu regarding any questions related to privacy policy
                by filling a contact form specified in a corresponding section of this
                website. If you do not agree with this privacy policy, you cannot use the services of journey-map.eu. In
                this case you should avoid visiting our website.</p>
        </div>
    </body>
    </html>
{% endblock content %}
