{% extends "JourneyMap/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <!DOCTYPE html>
    <html>
    <body>
        <div class="container ">
            <h1>Journey Map Terms of Service</h1>
            <hr>
            <h2>Acknowledgement</h2>
            <div class="mb-5">
                <p>Welcome to Journey Map! This Journey Map Terms of Service, in conjunction with the Privacy Policy
                    which are incorporated herein by reference and which may be posted and
                    applicable to specific services (collectively, the "Agreement") governs your access to and use of
                    the
                    Journey Map website, Content, apps, software, products and services provided to you on, from, or
                    through
                    the Journey Map website, (collectively, the "Services"). Regardless of whether you have a
                    subscription,
                    are a registered user all such interactions with the Journey Map website and use of any Services is
                    an
                    explicit acceptance of this Agreement signifying you have read, understand, and agree to be bound by
                    all
                    of the terms of this Agreement which is a LEGALLY BINDING CONTRACT.</p>

                <p>If you are using the Services on behalf of a company, organization or branch of government, you
                    affirm
                    that you have the authority to accept this Agreement on behalf of your company or organization and
                    all
                    references herein to ‘you’ or ‘your’ will refer not only to yourself but also to the company or
                    organization.</p>

                <p>IF YOU DO NOT FULLY AND COMPLETELY AGREE TO THE TERMS OF THE AGREEMENT AND YOU, AS A RESPONSIBLE
                    USER,
                    CHOOSE TO CONTINUE TO USE THE SERVICES, YOU WILL BE BOUND TO THE TERMS OF THE AGREEMENT.</p>

                <p>Journey Map (also referred herein as “us”, “we” or “our”) may modify the Agreement which will become
                    effective immediately upon its posting to the website. Your continued use of the website and any
                    associated services indicates your acceptance of changes to the Agreement and you agree to be bound
                    by
                    such modification or revisions. If you are dissatisfied with anything related to the Journey Map
                    website,
                    your sole remedy is to discontinue use of the Services. You use the Services of Journey Map at your
                    own
                    risk. Nothing in the Agreement shall be deemed to confer any third-party rights or benefits.</p>

                <i>Which means: The above states that you have read and agree to the Terms of Service and Privacy
                    Policy,
                    and any future changes, if you use Journey Map for yourself or your company or organization now or
                    after
                    modifications to this Agreement.</i>
            </div>
            <h2>Ability to Accept Terms of Service</h2>

            <div class="mb-5">
                <p>Journey Map Free Services are available to anyone over the age of 16, in observance of and compliance
                    with
                    the Children's Online Privacy Protection Act. If you are under 16 years of age, then do not use the
                    Service. There are lots of other great web sites for you. Talk to your parents about what sites are
                    appropriate for you.</p>

                <i>Which means: You’re over 18 and have authority and permission to accept this Agreement or between 16
                    and
                    18 and your parents have accepted this Agreement on your behalf.</i>
            </div>
            <h2>Content – It’s Yours</h2>
            <div class="mb-5">
                <p>When you upload photos that may be viewed on, or accessed through the Services, we refer to it as
                    “Content”. You affirm, represent, and warrant that you own or have the necessary licenses, rights,
                    consents, and permissions to store, share or distribute the Content.</p>

                <p>You retain all of your ownership rights in your Content. We don’t claim any ownership in or to any of
                    your Content.</p>

                <i>Which means: If you created it, it’s yours. If any piece of it was created by someone else, you swear
                    you have their permission to store it for your own use or share it. We don’t claim we own any of
                    it.</i>
                <p></p>

                <p>To enable Journey Map to provide the Services, it is necessary for you to hereby grant Journey Map a
                    worldwide, non-exclusive, royalty-free, sub-licensable and transferable limited license to use,
                    reproduce, distribute, prepare derivative works of, or display Content in connection with the
                    Services. </p>

                <i>Which means: You give us limited permission to do what you need us to do, like show your Content to
                    you
                    or people you share it with, store it on our servers.</i>
            </div>
            <h2>It’s All About You</h2>
            <div class="mb-5">
                <p>You control your Content through your account and/or cookies which may be placed on your computer or
                    other devices. </p>

                <p>You are responsible for any costs associated with your Content and use of the Journey Map
                    Services.</p>

                <p>You are solely responsible for your Content and your interactions with other users of the
                    Services. </p>

                <p>When you allow other users access to your Content, you, not Journey Map, are responsible for what
                    others
                    do
                    with it.</p>

                <p>You agree, while using Journey Map Services, that you may not:</p>

                <p>Alter or modify any part of the Services;</p>

                <p>Use the Services for any illegal purpose;</p>

                <p>Use any robot, spider, site search and/or retrieval application, or other device to retrieve or index
                    any
                    portion of the Services, with the exception of public search engines;</p>

                <p>Permit any third parties to use your name and password;</p>

                <p>Violate or attempt to violate Journey Map systems or interfere with the normal use of the Services by
                    users;</p>

                <p>Resale Journey Map's products and Services;</p>

                <p>Transmit any form of solicitation or Spam;</p>

                <p>Distribute an illegal or unauthorized copy of another person's trademarked or copyrighted work;</p>

                <p>Distribute Content that is libelous, defamatory, obscene, pornographic, abusive, harassing,
                    threatening,
                    unlawful or promotes or encourages illegal activity;</p>

                <p>Distribute Content that violates the rights of others, such as distributing Content that infringes
                    any
                    copyright, trademark, patent, trade secret, or violates any right of privacy or publicity, or that
                    is
                    libelous or defamatory, or that directs any user to the content of a third party without consent of
                    the
                    third party</p>

                <p>Defame or libel any person; invade any person's right of privacy or publicity or otherwise violate,
                    misappropriate or infringe the rights of any person;</p>
            </div>
            <h2>Account Safeguards</h2>
            <div class="mb-5">
                <p>To access or benefit from the Services or features on Journey Map, you may have to create a Journey
                    Map
                    account. You are responsible for maintaining the confidentiality of your access information and are
                    responsible for all activities that occur utilizing your information. You should only access your
                    Journey Map account from a trusted network. Although Journey Map will not be liable for any losses
                    you
                    might
                    suffer, you may be liable for the losses of Journey Map or others.</p>
            </div>
            <h2>Journey Map & Services</h2>
            <div class="mb-5">
                <p>Journey Map reserves the right to terminate your access to any and/or all parts of the Services at
                    any
                    time
                    for any reason without prior notice or liability. The terms of the Agreement and Privacy Policy
                    shall
                    survive any termination of your access to the Services.</p>

                <p>Journey Map may change, suspend or discontinue all or any aspect of the Services at any time,
                    including
                    the
                    availability of any feature, database, or Content, without prior notice or liability.</p>

                <p>Revised: October 30, 2020</p>
            </div>
        </div>
    </body>
    </html>
{% endblock content %}
