:root {
    --header-height: 56px;
    --footer-height: 81px;
    --footer-wrap-height: 107px;

    //overflow-y: hidden;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

header {
    margin: 0;
    padding: 0;
    background-color: #343a40 !important;
}

header form {
    margin: 0 15px 0 0;
    padding: 0;
}

header form .bootstrap-select {
    width: 100px !important;
}

header form .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    box-shadow: none;
}

header form .bootstrap-select .filter-option .text-muted {
    display: inline-block;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header form .dropdown-menu.inner {
    display: block;
}

header form .dropdown-menu li a {
    display: block;
}

header form .dropdown-menu li a:hover {
    background-color: rgba(221, 221, 221, 1);
}

header form .dropdown-menu li.selected a {
    border: none;
    outline: none;
    background-color: rgba(221, 221, 221, 1);
}

header form .dropdown-menu i {
    margin: 0 0 0 10px !important;
}

header form .dropdown-menu small {
    padding: 0;
    color: #212529;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

header nav {
    margin: 0 auto;
    padding: 8px 0px 8px 0px !important;
    width: 80%;
}

header nav .navbar-toggler:active span {
    -webkit-animation: rotation-back 0.2s  linear;
}

header nav .navbar-toggler.collapsed:active span {
    -webkit-animation: rotation 0.2s  linear;
}

header nav button:focus {
    outline: 0 !important;
    box-shadow: none;
}

header .nav-item.dropdown:hover > .dropdown-menu {
    margin: 0;
    display: block;
}

header .nav-item.dropdown:hover a::after {
    transform: rotate(180deg);
}

main {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

footer {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    display: block;
}

footer:after {
    clear: both;
}

footer p {
    float: left;
}

footer div {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

footer div a {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: #212529;
}

footer div a:first-child {
    padding-left: 0;
}

footer div a:hover {
    color: #212529;
}

footer form {
    float: right;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
    display: none;
}

footer form .bootstrap-select {
    width: 100px !important;
}

footer form .bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    box-shadow: none;
}

footer form .bootstrap-select .filter-option .text-muted {
    display: inline-block;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

footer form .dropdown-menu.inner {
    display: block;
}

footer form .dropdown-menu li a {
    display: block;
}

footer form .dropdown-menu li a:hover {
    background-color: rgba(221, 221, 221, 1);
}

footer form .dropdown-menu li.selected a {
    border: none;
    outline: none;
    background-color: rgba(221, 221, 221, 1);
}

footer form .dropdown-menu i {
    margin: 0 0 0 10px !important;
}

footer form .dropdown-menu small {
    padding: 0;
    color: #212529;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (max-width: 992px) {
    header nav, footer {
        width: 90%;
    }

    header .nav-item.dropdown > .dropdown-menu {
        margin: 0;
        display: none !important;
    }

    header .nav-item.dropdown a::after {
        display: none;
    }

    main {
        min-height: calc(100vh - var(--header-height) - var(--footer-wrap-height));
    }

    footer {
        padding-bottom: 10px;
    }

    footer p, footer div {
        float: none;
    }

    header form {
        display: none;
    }

    footer form {
        display: block;
    }
}

@-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(180deg);
        }
}

@-webkit-keyframes rotation-back {
        from {
                -webkit-transform: rotate(180deg);
        }
        to {
                -webkit-transform: rotate(0deg);
        }
}
