:root {
    --plus-size: 100px;
}

html, body {
    height: 100%;
    background-color: #f8f9fa !important;
}

.journeys-container {
    margin: 0 auto;
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
}

.journeys-container-element {
    margin: 0 !important;
    width: 50%;
    display: inline-block;
    text-decoration: none;
}

.journeys-container-element > div {
    width: 100%;
}

.new-journey div .plus {
    text-align: center;
    vertical-align: middle;
}

.new-journey div .plus p {
    color: #343a40 !important;
    font-size: 160px;
    font-weight: 200;
}

.btn-left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.btn-middle {
    border-radius: 0 !important;
    border-left: none !important;
}

.btn-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
}

.plus-card {
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
}

.plus-card::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #475059;
    width: 5px;
    margin-left: -2.5px;
    left: 50%;
    top: calc((100% - var(--plus-size)) / 2);
    bottom: calc((100% - var(--plus-size)) / 2);
    z-index: 9;
    border-radius: 2px;
}

.plus-card::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #475059;
    height: 5px;
    margin-top: -2.5px;
    top: 50%;
    left: calc((100% - var(--plus-size)) / 2);
    right: calc((100% - var(--plus-size)) / 2);
    z-index: 9;
    border-radius: 2px;
}

.plus-card a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: " ";
}
