{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'JourneyMap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Users/base.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'JourneyMap/img/favicon.png' %}"/>

    {% if title %}
        <title>Journey Map - {{ title }}</title>
    {% else %}
        <title>Journey Map</title>
    {% endif %}
</head>
<body>
    <main>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %} {% endblock content %}
    </main>


    <!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'JourneyMap/jquery-3.5.1.slim.js' %}"></script>
    <script src="{% static 'JourneyMap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
