.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.m-md-5 {
    margin: 48px auto !important;
    padding: 0;
    max-width: 700px;
}

@media (max-width: 740px) {
    .m-md-5 {
        margin: 48px 20px !important;
    }
}
